QTableView {
    background: #212121;
    color: #eee;
}
QTableView::item:selected {
    background: transparent;
}
QListWidget {
    background: #262626;
    color: #eee;
    border: 1px solid #444;
}
QListWidget::item:selected {
    background: #333;
    color: #fff;
}
QPushButton:checked {
    background-color: #444;
    color: white;
}

QPushButton {
    background-color: #444;
    color: white;
}
